{% extends 'base.html' %}
        {% load i18n %}
    {% load user_extras %}

    {% block content %}
        <h1 class="my-4">{% trans "Задачи" %}</h1>
        <a class="nav-link" href="{% url 'create_task' %}">{% trans 'Создать задачу' %}</a>
        {% if filter %}
    <div class="card mb-3">
        <div class="card-body bg-light">
            <form class="form-inline center"  method="get">
                {% for f in filter.form %}
                <div class="form-group">
                    <label for="{{ f.auto_id }}">{{ f.label }}</label>
                    <div class="ml-2 mr-3">
                        {% if f.value %}
                            {{ f|add_classes:"form-control is-valid" }}
                        {% else %}
                            {{ f|add_classes:"form-control" }}
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="{% trans 'Показать' %}">
                </div>
            </form>


        </div>
    </div>
      <table class="table table-striped">
            <thead>
                <tr>
                  <th>{% trans "ID" %}</th>
                  <th>{% trans "Имя" %}</th>
                  <th>{% trans "Статус" %}</th>
                  <th>{% trans "Автор" %}</th>
                  <th>{% trans "Исполнитель" %}</th>
                  <th>{% trans "Дата создания" %}</th>
                  <th></th>
                </tr>
            </thead>
        <tbody>


            {% for obj in filter.qs %}

         <tr>
                <td>{{ obj.id }}</td>
                <td><a href="{% url 'page_task' id=obj.id  %}">{{ obj.name }}</a></td>

                <td>{{ obj.status }}</td>
                <td>{{ obj.creator.first_name|default_if_none:'' }} {{ obj.creator.last_name|default_if_none:'' }}</td>
                <td>{{ obj.executor|default_if_none:'' }}</td>
             <td>{{ obj.created_at|date:'d.m.Y H:m' }}</td>
                <td>
                    <a href="{% url 'update_task'  id=obj.id %}">{% trans 'Изменить' %}</a>
                    <br>
                    <a href="{% url 'delete_task' id=obj.id %}">{% trans 'Удалить' %}</a>

                </td>
              </tr>
            {% endfor %}


        </tbody>
        </table>
{% endif %}
    {% endblock %}