{% extends 'base.html' %}
        {% load i18n %}
    {% block content %}
        <h1 class="my-4">{% trans "Задачи" %}</h1>
        <a class="nav-link" href="{% url 'create_task' %}">{% trans 'Создать задачу' %}</a>

        <table class="table table-striped">
            <thead>
                <tr>
                  <th>{% trans "ID" %}</th>
                  <th>{% trans "Имя" %}</th>
                  <th>{% trans "Статус" %}</th>
                  <th>{% trans "Автор" %}</th>
                  <th>{% trans "Исполнитель" %}</th>
                  <th>{% trans "Дата создания" %}</th>
                  <th></th>
                </tr>
            </thead>
        <tbody>

        {% if tasks %}
            {% for task in tasks %}
         <tr>
                <td>{{ task.id }}</td>
                <td><a href="{% url 'page_task' id=task.id  %}">{{ task.name }}</a></td>

                <td>{{ task.status }}</td>
                <td>{{ task.creator.first_name|default_if_none:'' }} {{ task.creator.last_name|default_if_none:'' }}</td>
                <td>{{ task.performer|default_if_none:'' }}</td>
             <td>{{ task.created_at|date:'d.m.Y H:m' }}</td>
                <td>
                    <a href="{% url 'update_task'  id=task.id %}">{% trans 'Изменить' %} </a>
                    <br>
                    <a href="{% url 'delete_task' id=task.id %}">{% trans 'Удалить' %} </a>

                </td>
              </tr>
            {% endfor %}
        {% endif %}

        </tbody>
        </table>
    {% endblock %}