{% extends 'base.html' %}
    {% block content %}
    {% load i18n %}

      <h1 class="my-4">
      </h1>

    <h1 class="my-4"></h1>
    <div class="card">
      <div class="card-body p-5 bg-light">
        <div class="display-4">{% trans "Менеджер задач" %}</div>
        <p class="lead">{% trans "Инструмент для идеального управления вашими задачами" %}</p>
        <hr>
        <a class="btn btn-primary btn-lg" href="https://github.com/Timo4ey">{% trans "Узнать больше" %}</a>
      </div>
    </div>

    {% endblock %}