[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=root
WorkingDirectory=/var/www/bot_backend #путь до каталога с файлом manage.py
ExecStart=/var/www/bot_backend/bot_backend/bin/gunicorn --workers 5 --bind unix:/run/gunicorn.sock bot_backend.wsgi:application
#путь до файла gunicorn в виртуальном окружении

[Install]
WantedBy=multi-user.target